numpy
scipy
matplotlib
torch==1.7.1
scikit-learn

git+https://github.com/morphomatics/morphomatics.git#egg=morphomatics
ipyvtklink
ipygany    

git+https://git.fmrib.ox.ac.uk/fsl/fsl_mrs.git#egg=fsl_mrs
git+https://github.com/statsmodels/statsmodels#egg=statsmodels